  .user-list-header {
    min-height: 72px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;

    .header-recordsPerPage {
      margin-left: 56px;
      color: var(--color-black);

      & select {
        border: 1px solid rgba(130, 140, 150, 0.4);
        border-radius: 4px;
        height: 24px;
        cursor: pointer;
        margin: 0 8px;

        & option {
          border: 1px solid rgba(130, 140, 150, 0.4);
          border-radius: 4px;
        }
      }
    }

    .header-records {
      margin-right: 102px;
      color: var(--color-dark-gray);
    }

    .header-selected-records {
      color: var(--color-dark-gray);
    }
  }