<div class="user-list-header">
  <div class="header-recordsPerPage">
    <label for="text-small-light">Отображать</label>
    <select id="recordsPerPage" [(ngModel)]="recordsPerPage" (change)="onRecordsPerPageChange()">
      <option [disabled]="totalRecords < 10" value="10">10</option>
      <option [disabled]="totalRecords < 20" value="20">20</option>
      <option [disabled]="totalRecords < 50" value="50">50</option>
      <option [disabled]="totalRecords < 100" value="100">100</option>
    </select>
    <span class="text-small-light">записей</span>
  </div>

  <div class="header-records">
    <span>{{ startRecord }}-{{ endRecord }} из {{ totalRecords }}</span>
  </div>

  <div class="header-selected-records">
    <span>Количество выбранных записей: {{ selectedRecordsCount }}</span>
  </div>
</div>