<div class="user-settings-block">

  <div class="user-settings-header">
    <button class="back-btn">
      <img src="../../../assets/icons/arrow-left.svg" alt="arrow-left">
      <span class="text-medium-bold">Назад</span>
    </button>

    <h1 class="heading-large-bold">
      Настройка учетных записей сотрудников контрагента
    </h1>

    <div class="header-btns">
      <app-custom-button label="Добавить" icon="add-icon.svg" iconPosition="right" size="normal"
        state="normal"></app-custom-button>

      <app-custom-button label="Разблокировать" icon="unblock-icon.svg" iconPosition="right" size="normal"
        state="normal"></app-custom-button>

      <app-custom-button label="Разблокировать" icon="block-icon.svg" iconPosition="right" size="normal"
        state="normal"></app-custom-button>

      <button class="filter-btn">
        <img src="../../../assets/icons/filter-icon.svg" alt="filter-icon">
        <span class="text-small-light">Фильтр</span>
      </button>
    </div>


    <div class="user-settings-body">
      <app-filter></app-filter>
      <app-user-list></app-user-list>
    </div>
  </div>
</div>