.user-list-block {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background: var(--color-white);

  .user-list-header {
    min-height: 72px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;

    .header-recordsPerPage {
      margin-left: 56px;
      color: var(--color-black);

      & select {
        border: 1px solid rgba(130, 140, 150, 0.4);
        border-radius: 4px;
        height: 24px;
        cursor: pointer;
        margin: 0 8px;

        & option {
          border: 1px solid rgba(130, 140, 150, 0.4);
          border-radius: 4px;
        }
      }
    }

    .header-records {
      margin-right: 102px;
      color: var(--color-dark-gray);
    }

    .header-selected-records {
      color: var(--color-dark-gray);
    }
  }

  .user-list-body {


    .users {
      min-width: 100%;

      & thead {
        height: 52px;

        tr {
          background-color: var(--color-red-dark);
          color: var(--color-white);


          & th {
            padding: 0 16px 0 23px;

            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
          }

          .user-list-login {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 52px;
          }
        }
      }

      & tbody {
        padding: 17px 16px 17px 23px;

        tr {
          height: 56px;

          &:hover {
            background-color: var(--color-white-backgound);
          }

          & td {
            padding: 0 23px;
            border-bottom: 1px solid var(--color-light-gray-v2);
            text-align: center;
            white-space: nowrap;
            height: 56px;
          }

          .login {
            text-align: left;
            display: flex;
            align-items: center;
            gap: 8px;
          }

          .action {
            cursor: pointer;
          }

          .status-active {
            color: var(--color-bright-green);
          }

          .status-blocked {
            color: var(--color-bright-red);
          }
        }
      }
    }
  }
}