<aside class="sidebar">
  <ul class="sidebar-list">


    <li class="sidebar-item">
      <div class="superagent">
        <div class="superagent-txt">
          <h4 class="text-small-bold-alt superagent-name">
            Суперагент
          </h4>
          <p class="text-small-light superagent-bank">
            Банк ВТБ(ПАО)
          </p>
        </div>
        <img src="../../../../assets/icons/input-arrow-down.svg" alt="open">
      </div>
    </li>

    <li class="sidebar-item-selected">
      <div class="management-item">
        <img src="../../../assets/icons/management-icon.svg" alt="management">
        <h4 class="text-small-bold-alt">
          Управление
        </h4>
      </div>
      <div class="management-card management-card-active">Карточка контрагента</div>
      <div class="management-card">Договоры контрагента</div>
    </li>

    <li class="superagents">
      <img src="../../../assets/icons/subagents.svg" alt="subagents">
      <h4 class="text-small-bold-alt superagents-name">
        Субагенты
      </h4>
    </li>
  </ul>
</aside>